.home-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

.navbar { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  height: 64px;
}

.navbar .login {
  width: 150px;
}

.home-container header {
  text-align: center;
}

.home-container header h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.home-container header p {
  font-size: 1.5rem;
}

.home-container .home-incidents { 
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 50%;
  margin-top: 50px;
}

.home-incidents .more-details {
  text-decoration: none;
  color: #E02041;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
