@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

form input {
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}

form textarea {
  width: 100%;
  resize: vertical;
  min-height: 140px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}

.button {
  width: 100%;
  height: 60px;
  background: #E02041;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(90%);
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.back-link svg {
  margin-right: 8px;
}

.back-link:hover {
  opacity: 0.8;
}

.incidents-list {
  width: 100%;
}

.incidents-list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.incidents-list ul li {
  background: #FFF;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}

.incidents-list ul li button {
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
  background-color: transparent;
}

.incidents-list ul li button.edit {
  right: 60px;
}

.incidents-list ul li button:hover {
  opacity: 0.8;
}

.incidents-list ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #41414d;
}

.incidents-list ul li p + strong {
  margin-top: 32px;
}

.incidents-list ul li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}